.cn--frame-editor {
  display: flex;
  flex-direction: row;
  .cn--tools {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .cn--frame {
    width: 510px;
    height: 710px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-sizing: border-box;
    flex-shrink: 0;
    cursor: crosshair;

    > div {
      position: relative;
    }

    .editor-box {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    .cn--capsule-box {
      .capsule-handle {
        opacity: 0.5;
        background-color: white;
      }
      :hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  .cn--frame-info {
    .frame-info--boxes {
      white-space: pre-wrap;
      margin: 8px 10px;
      border-radius: 8px;
      .boxes--header {
        padding: 8px 16px;
        display: flex;
        .cn--header-btns {
          margin-left: auto;
          display: flex;
          justify-content: space-between;
          width: 50px;
          cursor: pointer;
          .header--btn {
            &.mod--disabled {
              color: #aaa;
            }
          }
        }
      }
      .boxes--info {
        padding: 8px;
        font-size: 12px;
        width: 350px;
        display: flex;
        flex-direction: column;

        .info--box {
          margin-left: 8px;
          cursor: pointer;
          font-weight: bold;
          display: flex;
          align-items: stretch;
          &:hover {
            color: dodgerblue;
            .box--icon {
              visibility: visible;
            }
          }
          .box--icon {
            align-self: end;
            visibility: hidden;
            margin-left: auto;
          }
        }
      }

      &.mod--hit {
        border: 1px solid rgba(255, 50, 50, 0.5);
        .boxes--header {
          background-color: rgba(255, 0, 0, 0.2);
          border-bottom: 1px solid rgba(255, 50, 50, 0.5);
        }
      }
      &.mod--hurt {
        border: 1px solid rgba(50, 128, 255, 0.5);
        .boxes--header {
          background-color: rgba(0, 128, 255, 0.2);
          border-bottom: 1px solid rgba(50, 128, 255, 0.5);
        }
      }
      &.mod--push {
        border: 1px solid rgba(200, 175, 50, 0.5);
        .boxes--header {
          background-color: rgba(255, 200, 45, 0.2);
          border-bottom: 1px solid rgba(200, 175, 50, 0.5);
        }
      }
    }
  }
  .origin {
    position: absolute;
    width: 25px;
    height: 25px;
  }
}
